.button {
  width: 27rem;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #3982e2;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.button.selected {
  width: 28rem;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #7e1faa;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.button p {
  color: #ffffff;
  font-size: 1.0625rem;
  margin: auto;
}

.button:hover {
  width: 28rem;
  background-color: #1f5baa;
}
/* .button:focus {
  width: 28rem;
  background-color: #7e1faa;
} */
